/* Blauw: #53c0da
Oranje: #f39819
Grijs: #a1a0a0 */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: futureFixed;
  src: url(FUTRFW.TTF);

}
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.box1 {
  float: left;
  background-color: white;
  width: 50%;
  height: 50vh;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 55%;
  position: relative;
  top: 25%;
}

.box2 {
  float: left;
  background-color:#53c0da;
  width: 50%;
  height: 50vh;
}

#info {
  position: relative;
  display: block;
  margin: auto;
  vertical-align: middle;
  padding: 30px;
  line-height: 2.0vw;
  font-size: 1.8vw;
  color: white;
}
.box3 {
  float: left;
  margin: auto;
  background-color:#f39819;
  width: 50%;
  height: 50vh;
}

#data {
  margin: auto;
  font-size: 1.8vw;
}

data.th {
  margin: 10px;
}

.box4 {
  float: left;
  background-color: white;
  width: 50%;
  height: 50vh;
}

#foto {
  float: left;
  display: block;
  height: 60%;
  vertical-align: middle;
  position: relative;
  margin: 60px;
}

#footer {
  float: left;
  width: 100%;
  height: 25px;
  margin: 5px 0px;
  background-color: white;
}

#footer p {
  font-size: 10px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

/* The button in box 4 */
.cont {
  /* position: relative; */
  float:left;
}

a.btn {
  margin-top: 150px;
  /* margin-left: 20px; */
  float:left;
  width: 180px;
  height: 45px;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: #a1a0a0;
  vertical-align: middle;
  /*  background: -webkit-linear-gradient(#5edfff,#53c0da);
  box-shadow:inset -1px -1px 0 #4db3cc, 0 1px 1px rgba(0,0,0,0.1); */
}

a.btn p {
  color: #a1a0a0;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: 15px 0px;
}

a.btn:hover {
  background-color: #f39819;
  -webkit-transition: none;
  transition: none;
  /*  transform: scale(1.1,1.1); */
}

a.btn:hover p {
  color: white;
  -webkit-transition: none;
  transition: none;
}

#thanks {
  margin: 50px;
  color: #53c0da;
  text-align: center;
  padding: 50px;
}

.goback {
  padding: 90px 0px;
}

.goback #gob p {
  color: white;
}

#gob {
  position: inherit;
  text-align: center;
  width: 180px;
  height: 45px;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: #a1a0a0;
  vertical-align: middle;
  font-size: 12pt;
  font-family: 'Roboto';
}

#gob:hover {
  background-color: #f39819;
  -webkit-transition: none;
  transition: none;
}


@media only screen and (max-width: 860px) {
  a.btn {
    width: 100px;
    height: 70px;
  }

  /* Use a media query to add a breakpoint at 800px: */
  @media only screen and (max-width: 768px) {
    .box1, .box2, .box3, .box4 {
      width: 100%; /* The width is 100%, when the viewport is 768px or smaller */
      height: 60vh;
    }
    #info, #data {
      line-height: 3.4vw;
      font-size: 2.7vw;
    }
    a.btn {
      width: 180px;
      height: 45px;
    }
  }
